[package]
name = "rt-navi"
version = "0.0.1"
license = "MPL-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "High precision navigation in real time"
homepage = "https://github.com/rtk-rs/rt-navi"
repository = "https://github.com/rtk-rs/rt-navi"
keywords = ["navigation", "gps", "glonass", "galileo", "timing"]
categories = [
    "science",
    "science::geo",
    "command-line-interface",
    "command-line-utilities",
]
edition = "2021"
readme = "README.md"

[dependencies]
log = "0.4"
env_logger = "0.11"
thiserror = "1"

ublox = "0.4.5"
serialport = "4.2.2"

clap = { version = "4.4.13", features = ["derive", "color"] }

anise = { version = "0.4.2", features = ["embed_ephem"] }
hifitime = { version = "4.0.0-alpha", features = ["serde", "std"] }

gnss-rs = { version = "2.2.0", features = ["serde"] }

# gnss-rtk = { version = "0.4.5", features = ["serde"] }
# gnss-rtk = { path = "../../rtk-rs/gnss-rtk", features = ["serde"] }
gnss-rtk = { git = "https://github.com/rtk-rs/gnss-rtk", branch = "main", features = ["serde"] }

gpx = { version = "0.10", optional = true }
kml = { version = "0.8", optional = true }
